p{color: hotpink;
  font-size: 2vw;
}
h1,h2{
  color: cornflowerblue;
  font-size: 1.4rem;
}
h1{
  font-size: 1.4rem;
  border-bottom: 1px solid black;
  }
  body {
    font-family: Arial;
  }
em{
  font-family:" Cascadia Mono";
}
html{
  font-size: 23px;
}

body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}