body{
  font-size: small;
  font-family: verdana, Helvetica,Arial;
  line-height: 1.6em;

}
h1,h2{
  color: #007e7e;
}
h1{
  font-size: 1.5em;
}
h2{

  font-size: 1.3em;
}
div h2{
   color:black ;
}
.guarantee{
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
  line-height: 1.9em;
  font-style: hormal;
  color: #444444;
  font-family: Georgia, 'Times New Roman';
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
}
p {
  border: 1px dashed white; 
  border-radius: 0 2em 0 2em; 
}

.elixirs {
	border-width: thin;
	border-style: solid;
	border-color: #007e7e;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  background-image:url(images/cocktail.gif);
	background-repeat: repeat-x;
  text-align:center;
  line-height: 1;
  float:right;
}
.elixirs h2 {
  color: black;
}

.elixirs > h3{
  color: #d12c47;
}
.cd{
  font-style: italic;
  margin-right: 10px;
}
.artist{
  font-weight: bold;
  margin-left: 20px;
}
.elixirs a:link{
  color: #007e7e;
  text-decoration: none;
}
.elixirs a:visited{
  color: #333333;
  text-decoration: none;
}
.elixirs a:hover{
  background: #f88396;
  color: #0d5353;
  text-decoration: none;
}
