/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.main-container {
    position: relative;
}
#banner-video00 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 新增导航栏容器样式 */
.visitnav-container {
    position: fixed;
    top: 0;
    right: -200px; /* 初始位置在页面右侧外 */
    bottom: 0;
    z-index: 1000;
    width: 313px; /* 一级导航栏宽度 + 二级导航栏最小宽度 */
    height: 380px;   /* 固定容器高度 */
    overflow-y: auto;
    background-color: transparent;; /* 容器背景颜色 */
    transition: right 0.3s; /* 为容器添加过渡效果 */
}

.visitnav-container:hover {
    right: 0; /* 鼠标悬停时，容器向左移动到页面内 */
}

.visitnav-list-d1 {
    background: rgba(28, 36, 70, 0.8); /* 一级导航栏背景颜色 */
    border-bottom: 1px solid rgba(49, 63, 90, 0.55); /* 一级导航栏底部边框 */
    position: relative;
    border-radius: 0; /* 移除圆角 */
    box-shadow: none; /* 移除阴影 */
    padding: 0;
    width: 113px; /* 一级导航栏宽度 */
    margin-bottom: 0; /* 移除底部间距 */
    transition: transform 0.3s; /* 为一级导航栏添加过渡效果 */
}

.visitnav-list-d1-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visitnav-list-d1-title {
    display: flex; /* 使用 flexbox 布局 */
    flex-direction: column; /* 设置垂直排列 */
    align-items: center; /* 水平居中对齐 */
    width: 100%;
    background: none;
    border: none;
    padding: 12px 20px;
    text-align: center; /* 文字居中 */
    font-size: 14px;    /* 字体大小 */
    font-weight: 500; /* 设置字体粗细 */
    color:#fff;  /* 文字颜色 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.2s, color 0.2s;
}

.visitnav-list-d1-title:hover {
    background-color: #1b3b86; /* 鼠标悬停时背景颜色 */
    color: #fff; /* 鼠标悬停时文字颜色 */
}

.visitnav-list-d2-list {
    display: none; /* 初始时隐藏二级导航栏 */
    list-style: none ; /* 移除列表样式 */
    display: none;
    margin: 0;
    padding: 11px 20px;
    position: absolute; /* 绝对定位 */
    left: 113px; /* 定位到一级导航栏右侧 */
    top: 0;
    background: #4e70be;  /* 二级导航栏背景颜色 */
    min-width: 200px; /* 二级导航栏最小宽度 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.visitnav-list-d1:hover .visitnav-list-d2-list {
    display: block; /* 鼠标悬停在一级导航栏时，显示二级导航栏 */
}

.visitnav-list-d2-item a {
    display: block;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 500; /* 设置字体粗细 */;
    line-height: 300px;
    color: #fff;
    text-decoration: none; /* 去除超链接下划线 */
    transition: background-color 0.2s, color 0.2s; /* 添加过渡效果 */
}

.visitnav-list-d2-item a:hover {
    background-color :#1b3b86;/* 鼠标悬停时背景颜色 */
    color:#fff;  /* 鼠标悬停时文字颜色 */
}

.visitnav-list-d1-title img {
   
    width: 30px; /* 设置图片宽度 */
    height: 23px; /* 设置图片高度 */
    margin-bottom: 5px; /* 设置图片与文字的间距 */
}

/* 全局移除无序列表的默认样式 */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
