/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.main-container {
    position: relative;
}
#banner-video00 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 新增导航栏容器样式 */
.visitnav-container {
    position: fixed;
    top: 0;
    right: -200px; /* 初始位置在页面右侧外 */
    bottom: 0;
    z-index: 1000;
    width: 313px; /* 一级导航栏宽度 + 二级导航栏最小宽度 */
    height: 380px;   /* 固定容器高度 */
    overflow-y: auto;
    background-color: #1652a0; /* 容器背景颜色 */
    transition: right 0.3s; /* 为容器添加过渡效果 */
}

.visitnav-container:hover {
    right: 0; /* 鼠标悬停时，容器向左移动到页面内 */
}

.visitnav-list-d1 {
    position: relative;
    border-radius: 0; /* 移除圆角 */
    box-shadow: none; /* 移除阴影 */
    padding: 0;
    width: 113px; /* 一级导航栏宽度 */
    margin-bottom: 0; /* 移除底部间距 */
    transition: transform 0.3s; /* 为一级导航栏添加过渡效果 */
}

.visitnav-list-d1-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visitnav-list-d1-title {
    display: flex; /* 使用 flexbox 布局 */
    flex-direction: column; /* 设置垂直排列 */
    align-items: center; /* 水平居中对齐 */
    width: 100%;
    background: none;
    border: none;
    padding: 12px 20px;
    text-align: center; /* 文字居中 */
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.visitnav-list-d1-title:hover {
    background-color: #f0f0f0;
    color: #1652a0;
}

.visitnav-list-d2-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute; /* 绝对定位 */
    left: 100%; /* 定位到一级导航栏右侧 */
    top: 0;
    background-color: #1652a0; /* 二级导航栏背景颜色 */
    min-width: 200px; /* 二级导航栏最小宽度 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.visitnav-list-d1:hover .visitnav-list-d2-list {
    display: block; /* 鼠标悬停在一级导航栏时，显示二级导航栏 */
}

.visitnav-list-d2-item a {
    display: block;
    padding: 8px 20px 8px 30px;
    font-size: 13px;
    color: white;
    text-decoration: none; /* 去除超链接下划线 */
    transition: background-color 0.2s, color 0.2s;
}

.visitnav-list-d2-item a:hover {
    background-color:#f0f0f0;
    color:#1652a0;
}

.visitnav-list-d1-title img {
    width: 20px; /* 设置图片宽度 */
    height: 20px; /* 设置图片高度 */
    margin-bottom: 5px; /* 设置图片与文字的间距 */
}