body {
    font-family: Verdana, Geneva, Arial;
}
html {
    font-size: 12px;
}
h1 {
    color: #CC6600 ;
    font-size: 2.2rem;
}
h2 {
    color: #CC6600;
    font-weight: normal;
    font-size: 1.3rem;
}
blockquote{
    font-style: italic;
}
h1,h2 {
   border-bottom: thin dotted #888888;
}